.form-container {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    border: 1 px solid black;
}

.form-container input {
    margin: 10px 0;
}

.form-container button {
    width: 100px;
}

.recipeList button {
    align-items: center;
    background-color: cadetblue;
}